<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <main class="container mx-auto px-0">
        <div class="row">
            <div class="col-8">
                <div class="p-4 mb-3 bottom-border bg-light">
                    <h4>Zone de modération</h4>
                    <p class="mb-0">Découvrez les derniers facts soumis et ayez votre mot à dire sur leur future présence sur Chuck Norris Facts -fr!
                        Si vous jugez que ce fact a sa place sur le site, votez pour lui!</p>
                </div>
                <% facts?.forEach(fact => { %>
                    <%- include("partials/fact", {fact}) %>
                <% }) %>
            </div>
            <%- include('partials/aside') %>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>