<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <main class="container row mx-auto mt-2 px-0">
        <div class="col-8">
            <%- include('partials/fact', {fact}); %>
        </div>
        <%- include('partials/aside') %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>